:root {
    --main-color: #000000;
    --background-mask: rgba(255, 255, 255, 0.381);
    --background-box: rgba(255, 255, 255, 0.866);
    --border-box: 2px solid rgba(166, 166, 166, 0.85);
    --border-color: rgba(166, 166, 166, 0.85);
  }

body{ 
    font-family: Raleway, sans-serif;
    margin: 0;
    font-size: 14px;
    color: var(--main-color);
}
* {
box-sizing: border-box;
}
/* == Backgraound ================================================*/
.mask{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: var(--background-mask);
    z-index: -4;
    position: fixed;
}  
.vid{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -5;
    object-fit: cover;
}
.container{
    width : 100%;
    max-width: 1244px;
    min-width: 1244px ;
    margin: 0 auto;
}
.warning{
    font-size: 20px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
.intro{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}
/* == Header ================================================*/
.header{
    box-sizing: border-box;
    position: relative;
    left: 0;
    top: 0;
    height: 77px;
    width: 100%;
    background-color: var(--background-box);
    border-bottom: var(--border-box);
    padding: 20px 40px 20px 40px;
}
.logo{
    position: relative;
    display: flex;
    align-items: center;
}
.header__in{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.header__nav{
    display: flex;
    justify-content:space-between;
    height: 35px;
    width: 500px;
    
}
.header__nav__link{
    display: flex;
    height: 52px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    margin: 5px 10px 0px 10px;
    transition: border-bottom  0.25s linear;
}
.header__nav__link:hover {
    
    border-bottom: 5px solid var(--border-color);
    
}
/* == Intro ================================================*/
h1{
    font-size: 40px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 20px;
}
h2{
    font-size: 30px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 100px;
 
}
/* == Progect ================================================*/
.project__nav{
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    
}
.small__project__box{
    position: relative;
    box-sizing: border-box;
    width: 260px;
    height: 260px;
    margin: 20px;
}
.small__project__box:hover .box__hover{
    opacity: 1;
}
.box__hover{
    position: relative;
    width: 260px;
    height: 230px;
    color: var(--main-color);
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(28, 41, 53, 0.833);
    opacity: 0;
    transition: opacity .15s linear;

}
.box__image{
    position: relative;
    width: 260px;
    height: 230px;
}
.img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.box__name{
    width: 100%;
    height: 30px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.111);
}
/* == Creater ================================================*/
.creator{
    position:  relative;
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    
}
.photo{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 20px;
}
.img__creator{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cretor__info{
    position:  relative;
    width: 860px;
    margin: 20px;

}
.cretor__info__text{
    color: var(--main-color);
    font-size: 44px;
    font-family: Raleway, sans-serif;
}
.creator__icongroup{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    height: 78px;
    margin: 4px;
    padding: 4px;

    

}
.creator__box__icon{
    box-sizing: content-box;
    position: relative;
    width: 64px;
    height: 64px;
    margin-right: 40px;
    padding-bottom: 4px;  
    transition: border-bottom  0.25s linear;
   opacity: 0.8;
    
}

.creator__icon{
   
    position: relative;
    width: 64px;
    height: 64px;
}

.creator__box__icon:hover {
    border-bottom: 5px solid var(--border-color);
    
}
/* == Footer ================================================*/
.footer{
    border-top: var(--border-box);
    background-color: var(--background-box);

}
.footer__text{

}
