:root {
    --main-color: #1e1e1e;
    --background-mask: rgb(240, 240, 240);
    --background-box: rgb(255, 255, 255);
    --border-box: 0px solid rgba(166, 166, 166, 0.85);
    --border-color: rgb(255, 255, 255);
    --border-radius: 10px ;
}
body{ 
    font-family: Raleway, sans-serif;
    margin: 0;
    font-size: 14px;
    color: var(--main-color);
}
*{
    box-sizing: border-box;
}
:hover{
box-sizing: border-box;
}
/* == Backgraound ================================================*/
.mask{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: var(--background-mask);
    z-index: -4;
    position: fixed;
}  
.vid{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -5;
    object-fit: cover;
}
.container{
    width : 100%;
    max-width: 1244px;
    min-width: 1244px ;
    margin: 0 auto;
}
.warning{
    font-size: 20px;
    color: red;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}
/* == Intro ================================================*/
.intro{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
}
h1{
    font-size: 40px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 20px;
    line-height: 20px;
}
h2{
    font-size: 30px;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin-left: 100px;
 
}
/* == Header ================================================*/
.header{
    position: relative;
    left: 0px;
    top: 0px;
    height: 80px;
    width: 100%;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px 40px 20px 40px;
    border-radius: var(--border-radius);
}
.logo{
    position: relative;
    display: flex;
    align-items: center;
}
.header__in{
    display: flex;
    justify-content:space-between;
    align-items: center;
   
}
.header__nav{
    display: flex;
    justify-content:space-between;
    height: 39px;
    width: 500px;
    
}
.header__nav__link{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
    transition: background-color 0.25s;
}
.header__nav__link:hover {
    background-color: var(--background-mask);
    border-radius: 10px;
    
}
/* == Progect ================================================*/
.project__nav{
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
    
}
.small__project__box{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
}
.small__project__box:hover .box__image{
    margin-top: -230px;
}
.box__image{
    position: relative;
    width: 260px;
    height: 230px;
    transition: margin 1s;
}
.img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.box__info{
    width: 100%;
    height: 290px;
    background-color: rgba(0, 0, 0, 0.111);
}
.box__name{
    position: relative;
    width: 260px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.box__description{
    margin: 10px;

}
/* == Creater ================================================*/
.creator{
    position:  relative;
    display:flex;
    flex-wrap: wrap;
    background-color: var(--background-box);
    border: var(--border-box);
    padding: 20px;
    border-radius: var(--border-radius);
    overflow: hidden;
    
}
.photo{
    position: relative;
    width: 260px;
    height: 260px;
    margin: 20px;
    border-radius: 130px;
    overflow: hidden;

}
.img__creator{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.cretor__info{
    position:  relative;
    width: 860px;
    margin: 20px;

}
.cretor__info__text{
    color: var(--main-color);
    font-size: 44px;
    font-family: Raleway, sans-serif;
}
.creator__icongroup{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    height: 78px;
    margin: 4px;
    padding: 4px;

    

}
.creator__box__icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;  
    border-radius: 42px;
    transition: background-color 0.25s;
}

.creator__icon{
    position: relative;
    width: 64px;
    height: 64px;
}

.creator__box__icon:hover {
    background-color: var(--background-mask);
    
    
}
/* == Footer ================================================*/
.footer{
   

}
.footer__text{

}
